# Telegram Bot Token (majburiy)
TELEGRAM_BOT_TOKEN=

# Admin foydalanuvchi IDlari (vergul bilan ajratilgan)
ADMIN_IDS=5885964084

# VirusTotal API kaliti (https://www.virustotal.com/gui/my-apikey)
VT_API_KEY=

# Google Safe Browsing API kaliti (https://console.cloud.google.com)
GOOGLE_SAFE_BROWSING_API_KEY=

# Gemini AI API kaliti (https://aistudio.google.com/apikey)
GEMINI_API_KEY=

# Bot xulqi
DELETE_BAD_MESSAGES=false
MAX_FILE_SIZE_MB=40
URL_ANALYSIS_LIMIT=3

# Papkalar
DOWNLOAD_DIR=downloads
QUARANTINE_DIR=quarantine
YARA_RULES_PATH=rules/basic_rules.yar
DB_PATH=data/camcyber.db

# ClamAV sozlamalari 
# Mahalliy run uchun: 127.0.0.1
# Docker bilan: clamav
CLAMAV_HOST=127.0.0.1
CLAMAV_PORT=3310

# Tesseract OCR (bo'sh qoldirilsa avtomatik topiladi)
# Windows: C:\Program Files\Tesseract-OCR\tesseract.exe
# Linux/Docker: bo'sh qoldiring (/usr/bin/tesseract)
TESSERACT_CMD=

# Gemini model
GEMINI_MODEL=gemini-2.0-flash
